Сюжетная фотография аниме-стаффа (20%):
<div style="margin-bottom: 9px;" class="progress progress-info">
    <div style="width: 20%" class="bar"></div>
</div>

Покадровое аниму-тематик видео (13%):
<div style="margin-bottom: 9px;" class="progress progress-info">
    <div style="width: 13%" class="bar"></div>
</div>

Фотожаба (по принципу, например, аниме-листа на сезон) (17%):
<div style="margin-bottom: 9px;" class="progress progress-info">
    <div style="width: 17%" class="bar"></div>
</div>

Подстановка реплик в пустой комикс (40%):
<div style="margin-bottom: 9px;" class="progress progress-success">
    <div style="width: 40%" class="bar"></div>
</div>

Коллаж-рисунок с героями твиттерача (10%):
<div style="margin-bottom: 9px;" class="progress progress-info">
    <div style="width: 10%" class="bar"></div>
</div>