<ul class="thumbnails">
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
    <li class="span4"><a class="thumbnail" href="#"><img alt="" src="http://placehold.it/360x268"></a></li>
</ul>