<div class="row">
    <% latest_news.each do |item| %>
    <div class="span4">
        <div class="well">
            <h3><a href="<%= url('/news/' + item['slug']) %>"><%= item['title'] %></a> <small><%= item['created_at'] %></small></h3>
            <%= Kramdown::Document.new(item['preview']).to_html %>
        </div>
    </div>
    <% end %>
</div>

<div class="well">
    <h3>FAQ <small>fakku</small></h3>
    <dl>
        <dt>А можно посмотреть на исходники сайта?</dt>
        <dd>Можно. <a href="http://fuwaneko.github.com/anicon2012/">GitHub</a>, написано на Ruby и Sinatra.</dd>
    </dl>
</div>

Neatly knitted by <a href="http://twitter.com/sotona">てゐ</a>, contest by Woun-kun.