<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anime Stuff Contest 2012</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            margin-top: 20px;
        }
        dd {
            margin-bottom: 10px;
        }
        dd:last-child {
            margin-bottom: 0;
        }
        dt {
            margin-top: 5px;
        }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    
    <!-- Le google fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700|PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    
    <!-- Le javascript -->
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </head>

  <body>

    <div class="container">
        <h1>Anime Stuff Contest 2012 <small>выиграй себе вайфу</small></h1>
        <hr/>
        <div class="row">
            <ul class="nav nav-pills span10">
                <li<%= ' class="active"' unless request.path_info != '/' %>><a href="/">Информация</a></li>
                <li<%= ' class="active"' unless request.path_info != '/prizes' %>><a href="/prizes">Призы</a></li>
                <li<%= ' class="active"' unless request.path_info != '/elections' %>><a href="/elections">Голосование</a></li>
                <% if sensei? %>
                <li<%= ' class="active"' unless (/dojo/ =~ request.path_info) == nil %>><a href="/dojo">Dojo</a></li>
                <% end %>
            </ul>

            <div>
                <% if not logged_in? %>
                    <a href="/auth" class="btn btn-primary">Y U NO Sign In?</a>
                <% else %>
                    Hello, <%= session['access_token'].params['screen_name'] %>
                <% end %>
            </div>
        </div>
        
        <%= yield %>

    </div> <!-- /container -->

  </body>
</html>
