<ul class="breadcrumb">
    <li>
        <a href="/">Главная</a> <span class="divider">/</span>
    </li>
    <li class="active">
        Новости
    </li>
</ul>
<ul class="unstyled">
    <% items.each do |item| %>
        <li><a href="<%= url("/news/" + item['slug']) %>" target="_blank"><%= item['title'] %></a> (<%= item['created_at'].strftime("%d.%m.%Y %H:%M:%S") %>)</li>
    <% end %>
</ul>