<ul class="breadcrumb">
    <li>
        <a href="/">Главная</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="/news">Новости</a> <span class="divider">/</span>
    </li>
    <li class="active">
        <%= item['title'] %>
    </li>
</ul>

<h3><%= item['title'] %> <small><%= item['created_at'] %></small></h3>
<%= Kramdown::Document.new(item['preview']).to_html %>
<%= Kramdown::Document.new(item['content']).to_html %>