  <form action="<%= url('/dojo/news/edit/' + item['id'].to_s) %>" method="post" class="form-horizontal" style="margin: 0">
    <fieldset>
      <legend>Редактировать новость</legend>
      
      <div class="control-group">
        <label class="control-label" for="input01">Название</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input01" name="form[title]" value="<%= item['title'] %>">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="input02">Ссылка</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input02" name="form[slug]" value="<%= item['slug'] %>">
          <p class="help-block">Транслит названия</p>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="input03">Текст анонса</label>
        <div class="controls">
          <textarea class="input-xlarge" id="input03" name="form[preview]" rows="5"><%= item['preview'] %></textarea>
          <p class="help-block">Поддерживается <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a></p>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="input04">Текст новости</label>
        <div class="controls">
          <textarea class="input-xlarge" id="input04" name="form[content]" rows="5"><%= item['content'] %></textarea>
          <p class="help-block">Поддерживается <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a></p>
        </div>
      </div>
    </fieldset>

    <button data-toggle="modal" data-target="#itemAddForm" class="btn">Отмена</button>
    <input type="submit" value="Сохранить" class="btn btn-primary">
  </form>