<div id="alert-red" class="alert alert-error" style="display: none">
  <span class="alert-text">
    <% if session[:error] %>
      <strong>Ошибка</strong>: неверно заполнена форма
    <% session[:error] = nil %>
      <script>
        $("#alert-red").show();
      </script>
    <% end %>
  </span>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>

<div id="alert-green" class="alert alert-success" style="display: none">
  <span class="alert-text"></span>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>

<!-- le markup -->
<div>
  <button data-toggle="modal" data-target="#itemAddForm" class="btn btn-primary">Добавить</button>
  <button data-toggle="modal" data-target="#itemDeleteForm" class="btn btn-danger">Удалить</button>
</div>
<hr/>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th width="15px"><input id="check_all" type="checkbox"/></th>
      <th>Название</th>
      <th>Дата добавления</th>
      <th>Ссылка</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% news.each do |item| %>
    <tr>
      <td><input class="item_id" rel="<%= item['_id'] %>" type="checkbox"/></td>
      <td><%= item['title'] %></td>
      <td><%= item['created_at'] %></td>
      <td><a href="<%= url("/news/" + item['slug']) %>" target="_blank"><%= item['slug'] %></a></td>
      <td><a href="<%= url("/dojo/news/edit/" + item['_id'].to_s) %>">Редактировать</a></td>
    </tr>
    <% end %>
  </tbody>
</table>


<div id="itemAddForm" class="modal fade" style="display: none">
  <form action="<%= url('/dojo/news/add') %>" method="post" class="form-horizontal" style="margin: 0">
    <div class="modal-body">
    <fieldset>
      <legend>Добавить новость</legend>
      
      <div class="control-group">
        <label class="control-label" for="input01">Название</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input01" name="form[title]">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="input02">Ссылка</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input02" name="form[slug]">
          <p class="help-block">Транслит названия</p>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="input03">Текст анонса</label>
        <div class="controls">
          <textarea class="input-xlarge" id="input03" name="form[preview]" rows="5"></textarea>
          <p class="help-block">Поддерживается <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a></p>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="input04">Текст новости</label>
        <div class="controls">
          <textarea class="input-xlarge" id="input04" name="form[content]" rows="5"></textarea>
          <p class="help-block">Поддерживается <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a></p>
        </div>
      </div>
    </fieldset>
    </div>
    <div class="modal-footer">
      <button data-toggle="modal" data-target="#itemAddForm" class="btn">Отмена</button>
      <input type="submit" value="Сохранить" class="btn btn-primary">
    </div>
  </form>
</div>

<div id="itemDeleteForm" class="modal fade" style="display: none">
    <div class="modal-body">
      Эта операция необратима. Вы уверены?
    </div>
    <div class="modal-footer">
      <button data-toggle="modal" data-target="#itemDeleteForm" class="btn">Отмена</button>
      <button id="item_confirm_delete" type="submit" class="btn btn-danger">Уверен</button>
    </div>
  </form>
</div>

<script>
  $(function() {
    $("#check_all").on("click", function() {
      $("input.item_id").attr("checked", $(this).is(":checked"));
    });
    
    $("#item_confirm_delete").on("click", function() {
      var ids = [];
      $("input.item_id:checked").each(function(index, element) {
        ids.push($(element).attr("rel"));
      });
      
      $.ajax({
        url: "<%= url('/dojo/news/del') %>",
        data: { ids: ids },
        type: "post",
        success: function(result) {
          $("#alert-green .alert-text").html(result);
          $("#alert-green").show();
          $("#itemDeleteForm").modal('hide');
          $("input.item_id:checked").each(function(index, element) {
            $(element).parent().parent().remove();
          });
        },
        error: function(result) {
          $("#alert-red .alert-text").html("<strong>" + result.status + "</strong>: " + result.statusText);
          $("#alert-red").show();
          $("#itemDeleteForm").modal('hide');
        }
      });
    });
  });
</script>